.catalog {
  display: flex;
}

.catalog img {
  width: 100%;
  max-width: 100%;
}

.catalog-details {
  padding: 1em;
  width: 40%;
  word-break: break-all;
  max-height: 400px;
  min-width: 300px;
  z-index: 200;
  background-color: white;
}

.catalog-details div {
  padding: 5px;
}

.catalog-price {
  font-size: x-large;
}

.catalog-title {
  font-size: large;
}

.catalog-review h1 {
  font-size: x-large;
}

.catalog-review-item {
  margin: 1em;
  padding: 2em;
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .catalog-details {
    position: fixed;
    width: 50%;
    float: right;
  }
}
