.department-catalog h1 {
  font-size: x-large;
  padding-bottom: 6px;
}

.department-catalog span {
  color: grey;
  font-size: large;
  margin: 0 3px;
}

.department-catalog-items {
  display: flex;
  flex-wrap: wrap;
}

.department-catalog-item {
  padding: 2%;
  margin: auto;
}

.department-catalog-item img {
  width: 100%;
  max-width: 100px;
  display: block;
}

.department-catalog-title {
  font-size: small;
}

.department-catalog-price {
  font-size: large;
}

.department-catalog-rate {
  font-size: x-small;
}
