.department-catalog-header div {
  padding-bottom: 1em;
}

.department-catalog-header h1 {
  font-size: x-large;
}

.department-catalog-header span {
  color: grey;
  font-size: large;
  margin: 0 3px;
}

.department-catalog-item {
  display: inline-block;
  width: 23%;
  margin: auto;
  padding: 0 1%;
}

.department-catalog-item div {
  overflow: hidden;
  text-overflow: ellipsis;
}

.department-catalog-item img {
  width: 100%;
  max-width: 100%;
  display: block;
}

.department-catalog-title {
  font-size: small;
}

.department-catalog-price {
  font-size: large;
}

.department-catalog-rate {
  font-size: x-small;
}

.department-catalog-filter button {
  border-radius: 4em;
  padding: 1em;
  color: white;
  margin: 1%;
  background-color: gray;
}

.department-catalog-filter svg {
  margin: 0 3px;
}
