* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 0.98em;
  list-style: none;
}

.main {
  width: auto;
  display: flex;
  margin: 1em 1em;
}
